[submodule "IoT/functional_chips/AD5940/ad5940-examples"]
	path = IoT/functional_chips/AD5940/ad5940-examples
	url = https://github.com/analogdevicesinc/ad5940-examples.git
[submodule "iot_items/peripherals/IMU/ICM45686/examples/driver"]
	path = iot_items/peripherals/IMU/ICM45686/examples/driver
	url = https://github.com/tdk-invn-oss/motion.mcu.icm45686.driver.git
